div#block-sitebranding a img {
  max-width: 174px;
  max-height: 48px;
}

.page-title {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e4eaec;
  font-size: 18px;
  color: #343434;
  padding: 0 28px;
  width: 96%; /* 待较准. TODO*/
}

.tabs_info ul.secondary li {
  height: 25px;
  line-height: 25px;
  border-radius: 4px 4px 0 0;
  font-size: 12px;
  color: #707070;
  float: left;
  margin-right: 3px;
  background-color: #e5e5e5;
  cursor: pointer;
}

/* Utilities */
.absolute-right {
  position: absolute;
  right: 15px;
  z-index: 10;
}