<div class="admin-header clearfix">
  <div class="bgSelector"></div>

  {{ page.header }}
  {#{{ page.header_first }}#}
  {#{{ page.header_second }}#}
  {#{{ page.header_third }}#}

  <div class="module-menu">
    <ul>
      <li data-param="menuplatform" class="active"><a href="javascript:void(0);">平台</a></li>
      <li data-param="menushopping" class=""><a href="javascript:void(0);">商城</a></li>
      <li data-param="finance" class=""><a href="javascript:void(0);">财务</a></li>
      <li data-param="third_party" class=""><a href="javascript:void(0);">第三方服务</a></li>
      <li data-param="ectouch" class=""><a href="javascript:void(0);">手机</a></li>
      <li data-param="menuinformation" class=""><a href="javascript:void(0);">资源</a></li>
    </ul>
  </div>
  <div class="admin-header-right">
    <div class="manager">
      <dl>
        <dt class="name">admin</dt>
        <dd class="group">超级管理员</dd>
      </dl>
      <span class="avatar">
				<form action="index.php" id="fileForm" method="post" enctype="multipart/form-data" runat="server">
					<input name="img" type="file" class="admin-avatar-file" id="_pic" title="设置管理员头像">
				</form>
				<img nctype="admin_avatar" src="/{{ directory }}/css/images/admin.png">
			</span>
      <div id="admin-manager-btn" class="admin-manager-btn"><i class="arrow"></i></div>
      <div class="manager-menu" style="display: none;">
        <div class="title">
          <h4>最后登录</h4>
          <a href="privilege.php?act=edit&amp;id=58" target="workspace" class="edit_pwd">修改密码</a>
        </div>
        <div class="login-date">
          <strong>2019-04-17 08:47:30</strong>
          <span>(IP:172.19.0.1)</span>
        </div>
        <div class="title mt10">
          <h4>常用操作</h4>
          <a href="javascript:;" class="add_nav">添加菜单</a>
        </div>
        <div class="quick_link">
          <ul>
            <li class="tl"><a href="goods.php?act=step_up" target="workspace">商品设置</a></li>
            <li class="tl"><a href="goods.php?act=list" target="workspace">商品列表</a></li>
            <li class="tl"><a href="category.php?act=list" target="workspace">商品分类</a></li>
            <li class="tl"><a href="comment_manage.php?act=list" target="workspace">用户评论</a></li>
            <li class="tl"><a href="brand.php?act=list" target="workspace">品牌管理</a></li>
            <li class="tl"><a href="bonus.php?act=list" target="workspace">红包类型</a></li>
            <li class="tl"><a href="topic.php?act=list" target="workspace">专题管理</a></li>
            <li class="tl"><a href="discuss_circle.php?act=list" target="workspace">网友讨论圈</a></li>
            <li class="tl"><a href="gallery_album.php?act=list" target="workspace">图片库管理</a></li>
            <li class="tl"><a href="ads.php?act=list" target="workspace">广告列表</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="operate">
      <li style="position: relative;" ectype="oper_msg">
        <a href="javascript:void(0);" class="msg" title="管理员留言">&nbsp;</a><s id="total">26</s>
        <div id="msg_Container" style="display: none;">
          <div class="item">
            <h3 class="order_msg" ectype="msg_tit">订单提示<em class="iconfont icon-down"></em></h3><s id="total">1</s>
            <div class="msg_content" ectype="orderMsg" style="display: none;"><p><a href="javascript:void(0);" data-url="order.php?act=list&amp;composite_status=106" data-param="menushopping|02_order_list" target="workspace" class="message">您有新订单</a> <span class="tiptool">（<em id="new_orders">0</em>）</span></p><p><a href="javascript:void(0);" data-url="order.php?act=list&amp;composite_status=101&amp;source=start" data-param="menushopping|02_order_list" target="workspace" class="message">待发货订单</a> <span class="tiptool">（<em id="no_paid">1</em>）</span></p><p><a href="javascript:void(0);" data-url="order.php?act=return_list&amp;composite_status=105" data-param="menushopping|12_back_apply" target="workspace" class="message">待处理退换货订单</a> <span class="tiptool">（<em id="no_change">0</em>）</span></p><p><a href="javascript:void(0);" data-url="complaint.php?act=list" data-param="menushopping|13_complaint" target="workspace" class="message">交易纠纷</a> <span class="tiptool">（<em id="no_change">0</em>）</span></p><p><a href="javascript:void(0);" data-url="goods_booking.php?act=list_all" data-param="menushopping|06_undispose_booking" target="workspace" class="message">缺货商品</a> <span class="tiptool">（<em id="no_change">0</em>）</span></p></div>
          </div>

          <div class="item">
            <h3 class="goods_msg" ectype="msg_tit">商品提示<em class="iconfont icon-up"></em></h3><s id="total">4</s>
            <div class="msg_content" ectype="goodMsg" style="display: block;"><p><a href="javascript:void(0);" data-url="goods_report.php?act=list&amp;handle_type=6" data-param="menushopping|goods_report" target="workspace" class="message">商品举报</a> <span class="tiptool">（<em id="goods_report">0</em>）</span></p><p><a href="javascript:void(0);" data-url="sale_notice.php?act=list" data-param="menushopping|sale_notice" target="workspace" class="message">商品降价通知</a> <span class="tiptool">（<em id="goods_report">0</em>）</span></p><p><a href="javascript:void(0);" data-url="goods.php?act=review_status&amp;seller_list=1" data-param="menushopping|01_goods_list" target="workspace" class="message">未审核商家商品</a> <span class="tiptool">（<em id="goods_report">1</em>）</span></p><p><a href="javascript:void(0);" data-url="merchants_brand.php?act=list&amp;audit_status=3" data-param="menushopping|06_goods_brand" target="workspace" class="message">未审核商家品牌</a> <span class="tiptool">（<em id="goods_report">3</em>）</span></p><p><a href="javascript:void(0);" data-url="goods.php?act=list&amp;warn_number=1&amp;seller_list=0" data-param="menushopping|01_goods_list" target="workspace" class="message">自营普通商品库存预警</a> <span class="tiptool">（<em id="goods_report">0</em>）</span></p><p><a href="javascript:void(0);" data-url="goods.php?act=list&amp;warn_number=1&amp;seller_list=1" data-param="menushopping|01_goods_list" target="workspace" class="message">商家普通商品库存预警</a> <span class="tiptool">（<em id="goods_report">0</em>）</span></p></div>
          </div>

          <div class="item">
            <h3 class="shop_msg" ectype="msg_tit">商家审核提示<em class="iconfont icon-down"></em></h3><s id="total">15</s>
            <div class="msg_content" ectype="sellerMsg" style=""><p><a href="javascript:void(0);" data-url="merchants_users_list.php?act=list&amp;check=1" data-param="menushopping|02_merchants_users_list" target="workspace" class="message">未审核商家</a> <span class="tiptool">（<em id="shop_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="merchants_users_list.php?act=list&amp;shopinfo_check=1" data-param="menushopping|02_merchants_users_list" target="workspace" class="message">未审核店铺信息</a> <span class="tiptool">（<em id="shopinfo_account">15</em>）</span></p><p><a href="javascript:void(0);" data-url="merchants_account.php?act=list&amp;act_type=account_log&amp;handler=2&amp;rawals=1" data-param="menushopping|12_seller_account" target="workspace" class="message">待审核商家提现</a> <span class="tiptool">（<em id="wait_cash">0</em>）</span></p><p><a href="javascript:void(0);" data-url="user_real.php?act=list&amp;review_status=0&amp;user_type=1" data-param="menushopping|16_users_real" target="workspace" class="message">待审核商家实名认证</a> <span class="tiptool">（<em id="seller_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="merchants_account.php?act=list&amp;act_type=detail&amp;log_type=2" data-param="menushopping|12_seller_account" target="workspace" class="message">待审核商家结算</a> <span class="tiptool">（<em id="seller_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="merchants_account.php?act=list&amp;act_type=detail&amp;log_type=3" data-param="menushopping|12_seller_account" target="workspace" class="message">待审核商家充值</a> <span class="tiptool">（<em id="seller_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="seller_apply.php?act=list" data-param="menushopping|02_merchants_users_list" target="workspace" class="message">待审核店铺等级</a> <span class="tiptool">（<em id="seller_account">0</em>）</span></p></div>
          </div>

          <div class="item">
            <h3 class="ad_msg" ectype="msg_tit">广告位提示<em class="iconfont icon-down"></em></h3><s id="total">0</s>
            <div class="msg_content" ectype="advMsg" style=""><p><a href="javascript:void(0);" data-url="ads.php?act=list&amp;advance_date=1" data-param="menuplatform|ad_list" target="workspace" class="message">广告位即将到期</a> <span class="tiptool">（<em id="advance_date">0</em>）</span></p></div>
          </div>

          <div class="item">
            <h3 class="user_msg" ectype="msg_tit">会员提醒<em class="iconfont icon-down"></em></h3><s id="total">5</s>
            <div class="msg_content" ectype="userMsg" style=""><p><a href="javascript:void(0);" data-url="user_real.php?act=list&amp;review_status=0&amp;user_type=0" data-param="menuplatform|03_users_list" target="workspace" class="message">会员实名认证</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="user_account.php?act=list&amp;process_type=0&amp;is_paid=0" data-param="menuplatform|09_user_account" target="workspace" class="message">会员充值申请</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="user_account.php?act=list&amp;process_type=1&amp;is_paid=0" data-param="menuplatform|09_user_account" target="workspace" class="message">会员提现申请</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="user_vat.php?act=list&amp;audit_status=0" data-param="menuplatform|15_user_vat_info" target="workspace" class="message">会员增票资质审核</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="discuss_circle.php?act=list" target="workspace" class="message">网友讨论圈审核</a> <span class="tiptool">（<em id="user_discuss">5</em>）</span></p></div>
          </div>

          <div class="item">
            <h3 class="campaign_msg" ectype="msg_tit">活动提醒<em class="iconfont icon-down"></em></h3><s id="total">1</s>
            <div class="msg_content" ectype="promotionMsg" style=""><p><a href="javascript:void(0);" data-url="snatch.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|02_snatch_list" target="workspace" class="message">夺宝奇兵</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="bonus.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|04_bonustype_list" target="workspace" class="message">红包类型</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="group_buy.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|08_group_buy" target="workspace" class="message">团购活动</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="topic.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|09_topic" target="workspace" class="message">专题</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="auction.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|10_auction" target="workspace" class="message">拍卖活动</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="favourable.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|12_favourable" target="workspace" class="message">优惠活动</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="presale.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|16_presale" target="workspace" class="message">预售活动</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="package.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|14_package_list" target="workspace" class="message">超值礼包</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="exchange_goods.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|15_exchange_goods" target="workspace" class="message">积分商品</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="coupons.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|17_coupons" target="workspace" class="message">优惠券</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="gift_gard.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|gift_gard_list" target="workspace" class="message">礼品卡</a> <span class="tiptool">（<em id="user_account">0</em>）</span></p><p><a href="javascript:void(0);" data-url="wholesale.php?act=list&amp;seller_list=1&amp;review_status=1" data-param="menushopping|13_wholesale" target="workspace" class="message">批发</a> <span class="tiptool">（<em id="user_account">1</em>）</span></p></div>
          </div>
        </div>
      </li>
      <i></i>
      <li><a href="../" target="_blank" class="home" title="新窗口打开商城首页">&nbsp;</a></li>
      <i></i>
      <li><a href="javascript:void(0);" class="sitemap" title="查看全部管理菜单">&nbsp;</a></li>
      <i></i>
      <li><a href="javascript:void(0);" id="trace_show" class="style-color" title="给管理中心换个颜色">&nbsp;</a></li>
      <i></i>
      <li><a href="index.php?act=clear_cache" class="clear" target="workspace" title="清除缓存">&nbsp;</a></li>
      <i></i>
      <li><a href="privilege.php?act=logout" class="prompt" title="安全退出管理中心">&nbsp;</a></li>
    </div>
  </div>
</div>

<div class="admin-main">
  <div class="top-border"></div>
  <div class="admin-main-left">
    <div class="admincj_nav">
      <div class="navLeftTab" id="adminNavTabs_home" style="display:block;">
        <div class="item current">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_00_home"></i><h4>首页</h4></a></div>
          <div class="sub-menu" style="display: block; top: 0px;">
            <ul>
              <li class=""><s></s><a href="javascript:void(0);" data-url="index.php?act=main" data-param="home|01_admin_core" target="workspace">管理中心</a></li>
              <li class=""><s></s><a href="javascript:void(0);" data-url="index.php?act=operation_flow" data-param="home|02_operation_flow" target="workspace">业务流程</a></li>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="index.php?act=novice_guide" data-param="home|03_novice_guide" target="workspace">新手向导</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navLeftTab" id="adminNavTabs_menuplatform" style="display:none;">
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_01_system"></i><h4>设置</h4></a></div>
          <div class="sub-menu" style="top: 0px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="shop_config.php?act=list_edit" data-param="menuplatform|01_shop_config" target="workspace">商店设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="payment.php?act=list" data-param="menuplatform|02_payment_list" target="workspace">支付方式</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="shipping.php?act=list" data-param="menuplatform|03_area_shipping" target="workspace">地区&amp;配送</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="cron.php?act=list" data-param="menuplatform|07_cron_schcron" target="workspace">计划任务</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="friend_link.php?act=list" data-param="menuplatform|08_friendlink_list" target="workspace">友情链接</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="friend_partner.php?act=list" data-param="menuplatform|09_partnerlink_list" target="workspace">合作伙伴</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="captcha_manage.php?act=main" data-param="menuplatform|captcha_manage" target="workspace">验证码设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="check_file_priv.php?act=check" data-param="menuplatform|check_file_priv" target="workspace">文件权限检测</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="navigator.php?act=list" data-param="menuplatform|navigator" target="workspace">自定义导航栏</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="tp_api.php?act=order_print_setting" data-param="menuplatform|order_print_setting" target="workspace">打印设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="seo.php?act=index" data-param="menuplatform|seo" target="workspace">SEO设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="sitemap.php" data-param="menuplatform|sitemap" target="workspace">站点地图</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="keywords_manage.php?act=list" data-param="menuplatform|user_keywords_list" target="workspace">用户检索记录</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_05_banner"></i><h4>广告管理</h4></a></div>
          <div class="sub-menu" style="top: -68px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="ads.php?act=list" data-param="menuplatform|ad_list" target="workspace">广告列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="ad_position.php?act=list" data-param="menuplatform|ad_position" target="workspace">广告位置</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_07_content"></i><h4>文章管理</h4></a></div>
          <div class="sub-menu" style="top: -136px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="articlecat.php?act=list" data-param="menuplatform|02_articlecat_list" target="workspace">文章分类</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="article.php?act=list" data-param="menuplatform|03_article_list" target="workspace">文章列表</a></li>
              <li><s></s><a href="visualnews.php?act=visual" target="_blank">CMS可视化</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="article_auto.php?act=list" data-param="menuplatform|article_auto" target="workspace">文章自动发布</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_08_members"></i><h4>会员</h4></a></div>
          <div class="sub-menu" style="top: -204px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="users.php?act=list" data-param="menuplatform|03_users_list" target="workspace">会员列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="integrate.php?act=list" data-param="menuplatform|06_list_integrate" target="workspace">会员整合</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="user_msg.php?act=list_all" data-param="menuplatform|08_unreply_msg" target="workspace">会员留言</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="user_account.php?act=list" data-param="menuplatform|09_user_account" target="workspace">充值和提现申请</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="user_account_manage.php?act=list" data-param="menuplatform|10_user_account_manage" target="workspace">资金管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="user_address_log.php?act=list" data-param="menuplatform|12_user_address_list" target="workspace">收货地址列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="user_baitiao_log.php?act=list" data-param="menuplatform|13_user_baitiao_info" target="workspace">会员白条</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="user_vat.php?act=list" data-param="menuplatform|15_user_vat_info" target="workspace">会员增票资质</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="reg_fields.php?act=list" data-param="menuplatform|16_reg_fields" target="workspace">注册项设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="mass_sms.php?act=list" data-param="menuplatform|17_mass_sms" target="workspace">短信群发</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_10_priv_admin"></i><h4>权限管理</h4></a></div>
          <div class="sub-menu" style="top: -272px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="privilege.php?act=list" data-param="menuplatform|01_admin_list" target="workspace">管理员列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="privilege_seller.php?act=list" data-param="menuplatform|02_admin_seller" target="workspace">下级管理员列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="admin_logs.php?act=list" data-param="menuplatform|admin_logs" target="workspace">管理员日志</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="message.php?act=list" data-param="menuplatform|admin_message" target="workspace">管理员留言</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="role.php?act=list" data-param="menuplatform|admin_role" target="workspace">角色管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="agency.php?act=list" data-param="menuplatform|agency_list" target="workspace">办事处列表</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_12_template"></i><h4>模板</h4></a></div>
          <div class="sub-menu" style="top: -340px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="visualhome.php?act=list" data-param="menuplatform|01_visualhome" target="workspace">首页可视化</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="template.php?act=list" data-param="menuplatform|02_template_select" target="workspace">模板选择</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="template.php?act=setup" data-param="menuplatform|03_template_setup" target="workspace">设置模板</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="template.php?act=library" data-param="menuplatform|04_template_library" target="workspace">库项目管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="edit_languages.php?act=list" data-param="menuplatform|05_edit_languages" target="workspace">语言项编辑</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="template.php?act=backup_setting" data-param="menuplatform|06_template_backup" target="workspace">模板设置备份</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_13_backup"></i><h4>数据库管理</h4></a></div>
          <div class="sub-menu" style="top: -408px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="database.php?act=backup" data-param="menuplatform|02_db_manage" target="workspace">数据备份</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="database.php?act=optimize" data-param="menuplatform|03_db_optimize" target="workspace">数据表优化</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="sql.php?act=main" data-param="menuplatform|04_sql_query" target="workspace">SQL查询</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="table_prefix.php?act=edit" data-param="menuplatform|05_table_prefix" target="workspace">修改表前缀</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="transfer_manage.php" data-param="menuplatform|06_transfer_config" target="workspace">源站点信息设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="transfer_manage.php?act=choose" data-param="menuplatform|07_transfer_choose" target="workspace">迁移数据</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="index.php?act=clear_cache" data-param="menuplatform|09_clear_cache" target="workspace">清除缓存</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_16_email_manage"></i><h4>邮件群发管理</h4></a></div>
          <div class="sub-menu" style="top: -476px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="shop_config.php?act=mail_settings" data-param="menuplatform|01_mail_settings" target="workspace">邮件服务器设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="attention_list.php?act=list" data-param="menuplatform|02_attention_list" target="workspace">关注管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="email_list.php?act=list" data-param="menuplatform|03_email_list" target="workspace">邮件订阅管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="magazine_list.php?act=list" data-param="menuplatform|04_magazine_list" target="workspace">杂志管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="view_sendlist.php?act=list" data-param="menuplatform|05_view_sendlist" target="workspace">邮件队列管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="mail_template.php?act=list" data-param="menuplatform|06_mail_template_manage" target="workspace">邮件消息模板</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_19_self_support"></i><h4>自营</h4></a></div>
          <div class="sub-menu" style="top: -544px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="offline_store.php?act=list" data-param="menuplatform|01_self_offline_store" target="workspace">自营门店</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="offline_store.php?act=order_stats" data-param="menuplatform|02_self_order_stats" target="workspace">门店销售统计</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="index.php?act=merchants_first" data-param="menuplatform|03_self_support_info" target="workspace">自营设置</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navLeftTab" id="adminNavTabs_menushopping" style="display:none;">
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_02_cat_and_goods"></i><h4>商品管理</h4></a></div>
          <div class="sub-menu" style="top: 0px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="goods.php?act=step_up" data-param="menushopping|001_goods_setting" target="workspace">商品设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="goods.php?act=list" data-param="menushopping|01_goods_list" target="workspace">商品列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="category.php?act=list" data-param="menushopping|03_category_manage" target="workspace">商品分类</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="comment_manage.php?act=list" data-param="menushopping|05_comment_manage" target="workspace">用户评论</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="brand.php?act=list" data-param="menushopping|06_goods_brand" target="workspace">品牌管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="goods_type.php?act=manage" data-param="menushopping|08_goods_type" target="workspace">商品类型</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="goods_batch.php?act=select" data-param="menushopping|15_batch_edit" target="workspace">商品批量修改</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="goods_lib.php?act=list" data-param="menushopping|20_goods_lib" target="workspace">本地商品库</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="goods_lib_cat.php?act=list" data-param="menushopping|21_goods_lib_cat" target="workspace">商品库商品分类</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="discuss_circle.php?act=list" data-param="menushopping|discuss_circle" target="workspace">网友讨论圈</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="gallery_album.php?act=list" data-param="menushopping|gallery_album" target="workspace">图片库管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="goods_report.php?act=report_conf" data-param="menushopping|goods_report" target="workspace">举报管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="sale_notice.php?act=list" data-param="menushopping|sale_notice" target="workspace">商品降价通知</a></li>
            </ul>
          </div>
        </div>
        <div class="item fold_item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_02_promotion"></i><h4>促销管理</h4></a></div>
          <div class="sub-menu" style="top: -68px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="favourable.php?act=marketing_center" data-param="menushopping|02_marketing_center" target="workspace">营销中心</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="snatch.php?act=list" data-param="menushopping|02_snatch_list" target="workspace">夺宝奇兵</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="seckill.php?act=list" data-param="menushopping|03_seckill_list" target="workspace">秒杀活动</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="bonus.php?act=list" data-param="menushopping|04_bonustype_list" target="workspace">红包类型</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="group_buy.php?act=list" data-param="menushopping|08_group_buy" target="workspace">团购活动</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="topic.php?act=list" data-param="menushopping|09_topic" target="workspace">专题管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="auction.php?act=list" data-param="menushopping|10_auction" target="workspace">拍卖活动</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="favourable.php?act=list" data-param="menushopping|12_favourable" target="workspace">优惠活动</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="wholesale.php?act=list" data-param="menushopping|13_wholesale" target="workspace">批发管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="package.php?act=list" data-param="menushopping|14_package_list" target="workspace">超值礼包</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="exchange_goods.php?act=list" data-param="menushopping|15_exchange_goods" target="workspace">积分商城商品</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="presale.php?act=list" data-param="menushopping|16_presale" target="workspace">预售活动</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="coupons.php?act=list" data-param="menushopping|17_coupons" target="workspace">优惠券</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=team/admin/index" data-param="menushopping|18_team" target="workspace">拼团活动</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="value_card.php?act=list" data-param="menushopping|18_value_card" target="workspace">储值卡</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=bargain/admin/index" data-param="menushopping|19_bargain" target="workspace">砍价活动</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="gift_gard.php?act=list" data-param="menushopping|gift_gard_list" target="workspace">礼品卡列表</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_03_goods_storage"></i><h4>库存管理</h4></a></div>
          <div class="sub-menu" style="top: -136px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="goods_inventory_logs.php?act=list&amp;step=put" data-param="menushopping|01_goods_storage_put" target="workspace">库存入库</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="goods_inventory_logs.php?act=list&amp;step=out" data-param="menushopping|02_goods_storage_out" target="workspace">库存出库</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="suppliers.php?act=list" data-param="menushopping|suppliers_list" target="workspace">供货商列表</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_04_order"></i><h4>订单管理</h4></a></div>
          <div class="sub-menu" style="top: -204px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="order.php?act=list" data-param="menushopping|02_order_list" target="workspace">订单列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="goods_booking.php?act=list_all" data-param="menushopping|06_undispose_booking" target="workspace">缺货登记</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="order.php?act=add" data-param="menushopping|08_add_order" target="workspace">添加订单</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="order.php?act=delivery_list" data-param="menushopping|09_delivery_order" target="workspace">发货单列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="order.php?act=back_list" data-param="menushopping|10_back_order" target="workspace">退货单列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="mc_order.php" data-param="menushopping|11_add_order" target="workspace">批量添加订单</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="order.php?act=back_cause_list" data-param="menushopping|11_back_cause" target="workspace">退货原因列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="order_delay.php?act=list" data-param="menushopping|11_order_delayed" target="workspace">延迟收货</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="order.php?act=order_detection" data-param="menushopping|11_order_detection" target="workspace">检测已发货订单</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="order.php?act=return_list" data-param="menushopping|12_back_apply" target="workspace">单品退货单列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="complaint.php?act=complaint_conf" data-param="menushopping|13_complaint" target="workspace">投诉管理</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_09_crowdfunding"></i><h4>众筹管理</h4></a></div>
          <div class="sub-menu" style="top: -272px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="zc_project.php?act=list" data-param="menushopping|01_crowdfunding_list" target="workspace">众筹项目列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="zc_category.php?act=list" data-param="menushopping|02_crowdfunding_cat" target="workspace">众筹分类</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="zc_initiator.php?act=list" data-param="menushopping|03_project_initiator" target="workspace">发起人管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="zc_topic.php?act=list" data-param="menushopping|04_topic_list" target="workspace">话题管理</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_15_rec"></i><h4>推荐管理</h4></a></div>
          <div class="sub-menu" style="top: -340px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="affiliate.php?act=list" data-param="menushopping|affiliate" target="workspace">推荐设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="affiliate_ck.php?act=list" data-param="menushopping|affiliate_ck" target="workspace">分成管理</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_17_merchants"></i><h4>店铺管理</h4></a></div>
          <div class="sub-menu" style="top: -408px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="merchants_steps.php?act=step_up" data-param="menushopping|01_seller_stepup" target="workspace">店铺设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="merchants_users_list.php?act=list" data-param="menushopping|02_merchants_users_list" target="workspace">店铺列表</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="merchants_commission.php?act=list" data-param="menushopping|03_merchants_commission" target="workspace">店铺结算</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="seller_domain.php?act=list" data-param="menushopping|09_seller_domain" target="workspace">店铺域名</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="merchants_account.php?act=list&amp;act_type=merchants_seller_account" data-param="menushopping|12_seller_account" target="workspace">店铺账户</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="offline_store.php?act=list&amp;type=1" data-param="menushopping|12_seller_store" target="workspace">店铺门店</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="comment_seller.php?act=list" data-param="menushopping|13_comment_seller_rank" target="workspace">店铺满意度</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="user_real.php?act=list&amp;user_type=1" data-param="menushopping|16_users_real" target="workspace">实名认证</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_supply_and_demand"></i><h4>供求</h4></a></div>
          <div class="sub-menu" style="top: -476px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="wholesale.php?act=list" data-param="menushopping|01_wholesale" target="workspace">批发管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="wholesale_order.php?act=list" data-param="menushopping|02_wholesale_order" target="workspace">采购订单</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="wholesale_purchase.php?act=list" data-param="menushopping|03_wholesale_purchase" target="workspace">求购列表</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navLeftTab" id="adminNavTabs_suppliers" style="display:none;">
      </div>
      <div class="navLeftTab" id="adminNavTabs_finance" style="display:none;">
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_06_stats"></i><h4>统计</h4></a></div>
          <div class="sub-menu" style="top: 0px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="shop_stats.php?act=new" data-param="finance|01_shop_stats" target="workspace">店铺统计</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="user_stats.php?act=new" data-param="finance|02_user_stats" target="workspace">会员统计</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="sell_analysis.php?act=sales_volume" data-param="finance|03_sell_analysis" target="workspace">销售分析</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="industry_analysis.php?act=list" data-param="finance|04_industry_analysis" target="workspace">行业统计</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="exchange_detail.php?act=detail" data-param="finance|exchange_count" target="workspace">积分明细</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="guest_stats.php?act=list" data-param="finance|report_guest" target="workspace">客户统计</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="order_stats.php?act=list" data-param="finance|report_order" target="workspace">订单统计</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="users_order.php?act=order_num" data-param="finance|report_users" target="workspace">会员排行</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="sale_list.php?act=list" data-param="finance|sale_list" target="workspace">销售明细</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="visit_sold.php?act=list" data-param="finance|visit_buy_per" target="workspace">访问购买率</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_31_fund"></i><h4>资金</h4></a></div>
          <div class="sub-menu" style="top: -68px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="fund_stats.php?act=summary_of_money" data-param="finance|01_summary_of_money" target="workspace">销售走势</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="fund_stats.php?act=member_account" data-param="finance|02_member_account" target="workspace">会员账户</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="finance_analysis.php?act=settlement_stats" data-param="finance|05_finance_analysis" target="workspace">资金概述</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navLeftTab" id="adminNavTabs_third_party" style="display:none;">
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_24_sms"></i><h4>短信管理</h4></a></div>
          <div class="sub-menu" style="top: 0px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="sms_setting.php?act=step_up" data-param="third_party|01_sms_setting" target="workspace">短信设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="alidayu_configure.php?act=list" data-param="third_party|alidayu_configure" target="workspace">大于短信</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="alitongxin_configure.php?act=list" data-param="third_party|alitongxin_configure" target="workspace">阿里短信</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="dscsms_configure.php?act=list" data-param="third_party|dscsms_configure" target="workspace">模板堂短信</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="huyi_configure.php?act=list" data-param="third_party|huyi_configure" target="workspace">互亿短信</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_25_file"></i><h4>文件管理</h4></a></div>
          <div class="sub-menu" style="top: -68px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="oss_configure.php?act=list" data-param="third_party|oss_configure" target="workspace">阿里云OSS配置</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_26_login"></i><h4>登录管理</h4></a></div>
          <div class="sub-menu" style="top: -136px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="website.php?act=list" data-param="third_party|website" target="workspace">第三方登录插件管理</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_27_interface"></i><h4>接口管理</h4></a></div>
          <div class="sub-menu" style="top: -204px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="tp_api.php?act=kdniao" data-param="third_party|kdniao" target="workspace">快递鸟配置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="open_api.php?act=list" data-param="third_party|open_api" target="workspace">开放对外接口</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navLeftTab" id="adminNavTabs_ectouch" style="display:none;">
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_20_ectouch"></i><h4>手机端管理</h4></a></div>
          <div class="sub-menu" style="top: 0px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=oauth/admin" data-param="ectouch|01_oauth_admin" target="workspace">授权登录</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="touch_navigator.php?act=list" data-param="ectouch|02_touch_nav_admin" target="workspace">导航管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="touch_ads.php?act=list" data-param="ectouch|03_touch_ads" target="workspace">广告管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="touch_ad_position.php?act=list" data-param="ectouch|04_touch_ad_position" target="workspace">广告位管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=admin/editor" data-param="ectouch|05_touch_dashboard" target="workspace">可视化装修</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_22_wechat"></i><h4>微信通管理</h4></a></div>
          <div class="sub-menu" style="top: -68px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/admin/modify" data-param="ectouch|01_wechat_admin" target="workspace">公众号设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/admin/mass_message" data-param="ectouch|02_mass_message" target="workspace">群发消息</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/admin/reply_subscribe" data-param="ectouch|03_auto_reply" target="workspace">自动回复</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/admin/menu_list" data-param="ectouch|04_menu" target="workspace">自定义菜单</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/admin/subscribe_list" data-param="ectouch|05_fans" target="workspace">粉丝管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/admin/article" data-param="ectouch|06_media" target="workspace">素材管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/admin/qrcode_list" data-param="ectouch|07_qrcode" target="workspace">二维码管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/admin/extend_index" data-param="ectouch|09_extend" target="workspace">功能扩展</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?m=wechat&amp;c=admin&amp;a=market_index" data-param="ectouch|10_market" target="workspace">营销中心</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/admin/template" data-param="ectouch|11_template" target="workspace">消息提醒</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_23_drp"></i><h4>分销管理</h4></a></div>
          <div class="sub-menu" style="top: -136px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=drp/admin/config" data-param="ectouch|01_drp_config" target="workspace">店铺设置</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=drp/admin/shop" data-param="ectouch|02_drp_shop" target="workspace">分销商管理</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=drp/admin/drplist" data-param="ectouch|03_drp_list" target="workspace">分销排行</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=drp/admin/drporderlist" data-param="ectouch|04_drp_order_list" target="workspace">分销订单操作</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=drp/admin/drpsetconfig" data-param="ectouch|05_drp_set_config" target="workspace">分销比例设置</a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_24_wxapp"></i><h4 class="txt_tx">小程序管理</h4></a></div>
          <div class="sub-menu" style="top: -204px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="../mobile/index.php?r=wechat/wxapp/index" data-param="ectouch|01_wxapp_wechat_config" target="workspace">小程序设置</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navLeftTab" id="adminNavTabs_menuinformation" style="display:none;">
        <div class="item">
          <div class="tit"><a href="javascript:void(0)"><i class="nav_icon icon_21_cloud"></i><h4>云服务中心</h4></a></div>
          <div class="sub-menu" style="top: 0px; display: none;">
            <ul>
              <li class="curr"><s></s><a href="javascript:void(0);" data-url="index.php?act=cloud_services" data-param="menuinformation|01_cloud_services" target="workspace">在线更新</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="index.php?act=platform_recommend" data-param="menuinformation|02_platform_recommend" target="workspace">平台推荐</a></li>
              <li><s></s><a href="javascript:void(0);" data-url="index.php?act=best_recommend" data-param="menuinformation|03_best_recommend" target="workspace">好货推荐</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="admin-main-right">
    {{ page.content_top }}
    <div class="wrapper">
      <div class="content">
        {{ page.content }}
      </div>
    </div>
    <div class="footer">Footer</div>
  </div>
</div>